@model WebApplication4.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<html id="htmlLogin">
<head>

    <title>Inicio Sesión</title>

    <link rel="stylesheet" href="../../Content/Site.css" />

</head>
<body id="bodyLogin">

    <section id="loginForm">

        <hgroup>
            <h1>Iniciar Sesión.</h1>
        </hgroup>

        @using (Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            
            <fieldset>
                <legend>Formulario de Inicio de Sesión</legend>
                <ol>
                    <li>
                                
                        <div class="divLogin">
                        @Html.LabelFor(m => m.UserName) 
                        @Html.TextBoxFor(m => m.UserName) 
                        @Html.ValidationMessageFor(m => m.UserName) 
                        </div>
                    </li>
                    <li>
                        <div class="divLogin">
                            @Html.LabelFor(m => m.correo) 
                            @Html.TextBoxFor(m => m.correo) 
                            @Html.ValidationMessageFor(m => m.correo) 
                        </div>
                    </li>
                    <li>
                        <div class="divLogin">
                        @Html.LabelFor(m => m.Password)       
                        @Html.PasswordFor(m => m.Password) 
                        @Html.ValidationMessageFor(m => m.Password) 
                        </div>
                    </li>
                    <li>
                        <div class="divLogin">
                        @Html.CheckBoxFor(m => m.RememberMe) 
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" }) 
                        </div>
                    </li>
                </ol>
                <div style="text-align:center">
                    <input type="submit" value="Iniciar Sesión" />
                </div>
            </fieldset>
            <p style="text-align:center">
                        @Html.ActionLink("Registrarse", "Register")  Si no tienes cuenta.
            </p>
        }
    </section>
</body>
</html>