@model WebApplication4.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = null;
}

<!DOCTYPE html>

<html id="htmlLogin">
<head >
    <title>Registrarse</title>
    <link rel="stylesheet" href="../../Content/Site.css" />

</head>
<body id="bodyRegister">

    <section id="registerForm">
        <hgroup>
            <h1>Crear una cuenta nueva</h1>
        </hgroup>

        @using (Html.BeginForm()) { 
        @Html.AntiForgeryToken() 
        @Html.ValidationSummary() 

        <fieldset>
            <legend>Formulario de Registro</legend>
            <ol>
                <li>
                    <div class="divLogin">
                        @Html.LabelFor(m => m.UserName) 
                        @Html.TextBoxFor(m => m.UserName) 
                    </div>
                </li>
                <li>
                    <div class="divLogin">
                        @Html.LabelFor(m => m.correo)
                        @Html.TextBoxFor(m => m.correo)
                    </div>
                </li>
                <li>
                    <div class="divLogin">
                        @Html.LabelFor(m => m.Password) 
                        @Html.PasswordFor(m => m.Password) 
                    </div>
                </li>
                <li>
                    <div class="divLogin">
                        @Html.LabelFor(m => m.ConfirmPassword) 
                        @Html.PasswordFor(m => m.ConfirmPassword) 
                    </div>
                </li>
            </ol>
            <div style="text-align:center">
                <input type="submit" value="Registrarse" />
            </div>
        </fieldset>
        <p style="text-align:center">
            @Html.ActionLink("Iniciar Sesión", "Login") 
        </p>
        }
    </section>
</body>
</html>
